extends layout

block content
  h1= title

  if showBtn
    button(type="submit", id=showBtn)
      | #{showBtn}

  if showBtn == 'Login'
    a(href="/signup") 
      | Sign up?
  else if showBtn == 'Signup'
    a(href="/login") 
      | Log in?

  script.
    document
      .getElementById('Login')
      .addEventListener('click', async function() {
        try {
          const response = await fetch('/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              webhook: "#{webhook}",
              username: "helloworld",
              password: "helloworld"
            })
          });

          if (!response.ok) {
            throw new Error('Network response was not ok');
          }

          const data = await response.json();

          (data.redirectUrl) 
            ? window.location = `${data.redirectUrl}?user=${data.user}` 
            : window.location = '/'
        } catch (error) {
          console.error('There was a problem with the fetch operation:', error);
        }
      });

    //- document
    //-   .getElementById('Signup')
    //-   .addEventListener('click', async function() {
    //-     try {
    //-       const response = await fetch('/signup', {
    //-         method: 'POST',
    //-         headers: { 'Content-Type': 'application/json' },
    //-         body: JSON.stringify({})
    //-       });

    //-       if (!response.ok) {
    //-         throw new Error('Network response was not ok');
    //-       }

    //-       const data = await response.json();
    //-       console.log('Login successful:', data);
    //-     } catch (error) {
    //-       console.error('There was a problem with the fetch operation:', error);
    //-     }
    //-   });

